<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/santa"
        android:label="@string/Santa_Sahil"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MYTRAVELAPP"
        tools:targetApi="31">
        <activity
            android:name=".OrderActivity"
            android:exported="false" />
        <activity
            android:name=".RecipeActivity"
            android:exported="false" />
        <activity
            android:name=".TrackActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".AddressActivity"
            android:exported="false" />
        <activity
            android:name=".CardActivity"
            android:exported="false" />
        <activity
            android:name=".GeneratedCard"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />

        <activity android:name=".CookiesActivity" />
        <activity android:name=".FriesActivity" />
        <activity android:name=".BurgerActivity" />
        <activity android:name=".PizzaActivity" />
        <activity android:name=".RollActivity" />
        <activity android:name=".PestryActivity" />
        <activity android:name=".WrapActivity" />
        <activity android:name=".ChikenActivity" />


        <activity
            android:name=".IntroActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>